*,
::before
::after {
    box-sizing: border-box;
}

:root {
    --brand-color: #eedccd;
    --content-width: 1080px;
    --text-color: #3d1e00;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--brand-color);
    font-family: Helvetica, Arial, sans-serif;
    color: var(--text-color);
    }

.page-header {
    margin-inline: auto;
    padding: 1em 1.5rem;
    color: var(--text-color);
    background-color: var(--brand-color);
}

.main {
    flex: 1;
    padding: 1em 1.5rem;
    background-color: var(--brand-color);
    max-inline-size: var(--content-width);
    margin-inline: auto;

}

.main input {
    margin-block: 0.5em;
}

.social-links {
    padding: 1em 1.5rem;
    background-color: var(--brand-color);
    border-radius: 0.5em;
}
.social-icon {
    width: 2em;
}

.footer {
    text-align: center;
    margin-top: auto;
    font-family: Monospace "Courier New";
}

#main-logo {
    display: block;
    max-width: 30%;
    height: auto;
    margin-inline: auto;
}



.navbar {
    text-align: center;
    border-block: 2px solid #573316;
    padding: 10px;
    margin-inline: auto;
}

.navbar form {
    display: inline-block;
}


#form {
    text-align: left;
}

#main-contact {
    text-align: center;
    padding: 3em;
}

/* Ingredients view: */
div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}


div.ingredient-group {
	width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
}