<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Caffeine</title>
  <link th:href="@{/styles/style.css}" rel="stylesheet">
</head>

<body>
<div class="page-header">
  <img id="main-logo" th:src="@{/images/Caffeine-logo-bg.png}" />
</div>
<div class="container">
  <div class="navbar">
    <form th:action="@{/}" method="GET"><button>Home</button></form>
    <form th:action="@{/design}" method="GET"><button>Order Coffee</button></form>
    <form th:action="@{/}" method="GET"><button>About us</button></form>
    <form th:action="@{/}" method="GET"><button>Contact</button></form>
    <span sec:authorize="hasRole('ROLE_USER')">
                <form  method="POST" th:action="@{/logout}" id="logout">
                    <input type="submit" value="Logout">
                </form>
            </span>
    <span sec:authorize="!hasRole('ROLE_USER')">
                <form  method="POST" th:action="@{/login}" id="login">
                    <input type="submit" value="Log in">
                </form>
            </span>
  </div>
  <main class="main" id="main-contact">
    <h2>Where do you find us?</h2>
    <p>Probably nowhere because we don't exist. But if you want to get in touch with our creator you can find him on:</p>
    <a href="https://github.com/kierznowski" target="_blank"><img th:src="@{/images/github-dark.svg}" class="social-icon"/></a>
    <a href="https://linkedin.com/in/kierznowski" target="_blank"><img th:src="@{/images/linkedin.svg}" class="social-icon"/></a>
    <a href="mailto:przemek.kierznowski@gmail.com" target="_blank"><img th:src="@{/images/gmail.svg}" class="social-icon"/></a>
    <a href="https://instagram.com/kierznowski" target="_blank"><img th:src="@{/images/instagram.svg}" class="social-icon"/></a>

  </main>
</div>
<div class="footer">
  <p>Created by Kierznowski</p>
</div>
</body>
</html>