<!DOCTYPE html>
<html lang="en" xmlns:th="http:/ /www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet">
</head>
<body>
  <div class="page-header">
    <img id="main-logo" th:src="@{/images/Caffeine-logo-bg.png}" />
  </div>
  <div class="container">
    <div class="navbar">
      <form th:action="@{/}" method="GET"><button>Home</button></form>
      <form th:action="@{/design}" method="GET"><button>Order Coffee</button></form>
      <form th:action="@{/}" method="GET"><button>About us</button></form>
      <form th:action="@{/}" method="GET"><button>Contact</button></form>
    </div>
    <div class="main" >
      <h1>Login</h1>

      <div th:if="${error}">
        Unable to login. Check your username and password.
      </div>

      <p><h3>New here? <a th:href="@{/register}"><b>Click to register.</b></a></h3></p>

      <form method="POST" th:action="@{/login}" id="loginForm">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />

        <label for="username">Username: </label>
        <input type="text" name="username" id="username" /><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>

        <input type="submit" value="Login"/>

      </form>

      <h3>or Login via Github account:</h3>

      <div id="third-party-authentication">
        <a href="/oauth2/authorization/github"><img id="github-logo" th:src="@{/images/github-dark.svg}"/> Github Login</a>
      </div>

    </div>
  </div>
  <div class="footer">
    <p>Created by Kierznowski</p>
  </div>
</body>
</html>